.App {
  text-align: center;
}

.PhaserGame {
  width: 1550px;
  height: 900px;
  margin: 0 auto;
  border-radius: 1rem;
  border: 2em solid #292624;
  opacity: 0.99;
}   

#particles canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}